@model NASCAR.Models.Vehicle
@using NASCAR.Services
@inject AddressNameConverter _addressNameConverter;
@{
    ViewData["Title"] = "Create";
    var cities = (ViewData["VehicleCity"] as SelectList).ToList();
    var city = "";

}

<h1>Create</h1>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label asp-for="ModelYear" class="control-label"></label>
                    <input asp-for="ModelYear" class="form-control" />
                    <span asp-validation-for="ModelYear" class="text-danger"></span>
                </div>
                <div class="invisible col">
                    <input value="False" asp-for="IsReserved" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Transmission" class="control-label"></label>
                <select asp-for="Transmission" class="form-select" asp-items="ViewBag.Transmission"></select>
                <span asp-validation-for="Transmission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mileage" class="control-label"></label>
                <input asp-for="Mileage" class="form-control" />
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label asp-for="VehicleAddress.City" class="form-label mt-4"></label>
                    <select onclick="select()" class="form-select" id="citySelect" >
                        @foreach (var option in cities)
                        {
                            city = option.Text;
                            <option value=@_addressNameConverter.GetAddressId(@option.Text)>@option.Text</option>
                          
                        }
                    </select>
                </div>
                <div class="form-group invisible col">
                    <input asp-for="VehicleAddressId" class="form-control" value=""/>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-select" asp-items="ViewBag.Category"></select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seats" class="control-label"></label>
                <input asp-for="Seats" class="form-control" />
                <span asp-validation-for="Seats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doors" class="control-label"></label>
                <input asp-for="Doors" class="form-control" />
                <span asp-validation-for="Doors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Home</a>
</div>


<script>
    function select(){
        var cityElement = document.getElementById("citySelect");
        var city = cityElement.options[cityElement.selectedIndex].text;

        var addressId = document.getElementsByName("VehicleAddressId")[0];
        addressId.value = cityElement.value;
        console.log("aaa");
    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
