@model NASCAR.Models.Reservation


@{
    ViewData["Title"] = "Rent";

   var  url = Url.Action().Split('/')[3];
}

<h1></h1>

<h4>Reservation</h4>
<hr />
<body>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PickUpDate" class="control-label"></label>
                <input asp-for="PickUpDate" class="form-control" id="start_date" />
                <span asp-validation-for="PickUpDate" class="text-danger" id="datepicker_from"></span>
            </div>
            <div class="form-group">
                <label asp-for="DropDate" class="control-label"></label>
                <input asp-for="DropDate" class="form-control" id="end_date" />
                    <span asp-validation-for="DropDate" class="text-danger" id="datepicker_to"></span>
            </div>                   
            <div class="form-group">
                <label asp-for="VehicleId" class="control-label" ></label>
                <input asp-for="VehicleId" class="form-control" placeholder="@url.Split('%')[0]" readonly="" id="vehicle_id"/>

            </div> 
            <div class="form-group">
                <label asp-for="DiscountId" class="form-label mt-4" for="readOnlyInput">Discount</label>
                <input asp-for="DiscountId" class="form-control" id="readOnlyInput2" placeholder="%" />
            </div>
            <div class="form-group">
                <label asp-for="PaymentType" class="control-label"></label>
                <select asp-for="PaymentType" class="form-control" asp-items="ViewBag.PaymentType"></select>
                <span asp-validation-for="PaymentType" class="text-danger"></span>
                <br /> 
            </div>
            <div class="form-group">
                <input type="submit" value="RESERVATE" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Price" class="form-label mt-4" for="readOnlyInput"></label>
            <input asp-for="Price" class="form-control" placeholder="@url.Split('%')[2].Split("20")[1] $ per day" readonly="" id ="total_price"/>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
    <script>
        const input = document.getElementById("start_date");
        const price = document.getElementById("total_price");

        input.addEventListener("change", calcDiff());


            function stringToDate(_date, _format, _delimiter) {
                var formatLowerCase = _format.toLowerCase();
                var formatItems = formatLowerCase.split(_delimiter);
                var dateItems = _date.split(_delimiter);
                var monthIndex = formatItems.indexOf("mm");
                var dayIndex = formatItems.indexOf("dd");
                var yearIndex = formatItems.indexOf("yyyy");
                var month = parseInt(dateItems[monthIndex]);
                month -= 1;
                var formatedDate = new Date(dateItems[yearIndex], month, dateItems[dayIndex]);
                return formatedDate;
            }

            function calcDiff() {

                price.textContent = "2332"
            }
        
    </script>
    
</body>
