
@{
    ViewData["Title"] = "Error";
}

<h1>ERROR</h1>

<div class="alert alert-dismissible alert-warning">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <h4 class="alert-heading">Error!</h4>
    <p class="mb-0">It looks like vehicle you are trying to reservate is reservated in that period, contact admin for details! <a asp-controller="Home" asp-action="Index" class="alert-link">Back to home.</a>.</p>
</div>
