@{
    ViewData["Title"] = "Index";
}

<h1>Admin panel</h1>

<head>
    <style>
        .square-button {
            width: 500px;
            height: 400px;
            font-size: 48px;
            padding: 80px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 300px;
            color: black;
            background-color: white;
            border: 2px solid black;
        }
    </style>
</head>

<body>
  

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col ">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Reservations</h4>
                    <p class="card-text">View all reservations in system.</p>
                    <a asp-controller="Reservations" asp-action="Index" class="card-link">View all</a>
                
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Vehicles</h4>  
                    <p class="card-text">View all vehicles in system.</p>
                    <a asp-controller="Home" asp-action="Index" class="card-link">View all</a>

                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Users</h4>   
                    <p class="card-text">View all users in system.</p>
                    <a asp-controller="Admin" asp-action="Users" class="card-link">View all</a>

                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Locations</h4>
                    <p class="card-text">View all locations in system.</p>
                    <a asp-controller="VehicleAddresses" asp-action="Index" class="card-link">View all</a>

                </div>
            </div>
        </div>
    </div>


   
</body>




