@model NASCAR.Models.CardDetails

@{
    ViewData["Title"] = "Delete";
}

<div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
         It looks like you already have card connected to the account! 
         <form asp-action="Delete">
        <input type="hidden"/>
        <input type="submit" value="Delete card" class="alert-link"/> 
        </form>
</div>

 <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Card number</th>
                <th scope="col">CVV</th>
                <th scope="col">Date of expiry</th>

            </tr>
        </thead>
        <tbody>
            <tr class="table-info">               
                    <th class="mx-auto">@Model.CardNumber</th>
                    <td class="mx-auto">@Model.CVV</td>
                    <td class="mx-auto">@Model.DateOfExpiry</td>           
            </tr>
        </tbody>
    </table>
